body{
    margin: 0;
}

.main{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.side{
    display: flex;
    background: url(/ivan-diaz-j0D2YkhaoN4-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: relative;

}

.banner{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.527);
    width: 100%;
    gap: 16px;
}

img{
    width: 5rem;
    padding: 10px;
}
h1{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Silkscreen', cursive;
    color: rgb(238, 230, 230);
}

#water-mark{
    position: absolute;
    bottom: 0px;
    right: 5px;
    color:rgba(255, 255, 255, 0.575);
    font-size: 0.7rem;
    font-family: 'Silkscreen', cursive;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color:rgb(40, 102, 126); 

}

.top-info{
    font-family: 'Silkscreen', cursive;
    padding: 0px 32px;
    flex: 1;
}
.middle-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    gap: 2px;
    padding: 20px 20px 20px 32px;
    font-family: 'Silkscreen', cursive;
    background-color: rgb(52, 128, 156)
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    font-size: 14px;
}

.container-1,.container-2,.container-3{
    display: flex;
    gap:10rem;
}


.box-one,.box-two,.box-three,.box-four,.box-five,.box-six{
    display: flex;
    flex-direction: column;
    gap:10px;
}

input{
    border: 2px solid rgb(42, 100, 83);
    border-radius: 5px;
    padding: 6px;
    box-shadow: 3px 3px rgb(11, 107, 129);
}



.bottom-info{
    font-family: 'Silkscreen', cursive;

    flex: 1;
}

.submit-btn{
    font-family: 'Silkscreen', cursive;
    padding: 10px;
    background-color: rgb(64, 167, 176);
    border: 2px solid rgb(42, 100, 83);
    border-radius: 5px;
}

#container-4{
    padding: 20px 20px 20px 32px;
}